.pd{
  margin-bottom: 150px;
}
.ad-sidebar ul{
  /*margin-right: 230px;*/
  /*background: #222222;*/
}
.ad-sidebar ul li{
  margin-top: 30px;
}
.ad-main{
  padding-right: 110px;
  padding-left: 100px;
}
.post-item {
  margin-bottom: 40px;
  margin-right: 110px;
  color: #525252;
  margin-left: 100px;
}
.ad-main .post-author{
  margin-right: 110px;
  margin-left: 100px;
}
.ad-main .post-comments{
  margin-right: 110px;
  margin-left: 100px;
}
.admn-frm{
  margin-top: 30px;
}
footer{
  margin-top: 50px;
}
